*.o
*.lo

# Standard AutoTools stuff
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libpsurface.la
libtool
psurface.pc
stamp-h1

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

libpsurface-?.?.?
libpsurface*.tar.gz

# Executable files
psurface-convert
psurface-simplify
psurface-smooth

# Tests
test/*.log
test/*.trs

test/gmshiotest
test/simplifytest
test/sparsematrixtest


